<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="initials-element">
  <template>
    <style>
      /* :host {
        display: block;
      } */
      section {
        /* border: 1px solid red; */
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .circuloGg {
        border: 1px solid aliceblue;
        background-color: aliceblue;
        border-radius: 100%;
        width: 50px;
        height: 50px;
        text-align: center;
        /* margin: 0 auto; */
        margin-right: -7px;
        display: inline-block;
        color: aqua;
      }

      .circuloG {
        border: 1px solid gainsboro;
        background-color: gainsboro;
        border-radius: 100%;
        width: 65px;
        height: 65px;
        text-align: center;
        /* margin: 0 -5px; */
        display: inline-block;
        font-size: 18px;
        position: relative;
        z-index: 10;
      }

      .circuloV {
        border: 1px solid green;
        background-color: green;
        border-radius: 100%;
        width: 50px;
        height: 50px;
        text-align: center;
        /* margin: 0 auto; */
        margin-right: -7px;
        color: white;
        display: inline-block;
      }

      .circuloN {
        border: 1px solid black;
        background-color: black;
        border-radius: 100%;
        width: 50px;
        height: 50px;
        text-align: center;
        margin-left: -7px;
        /* margin: 0 auto; */
        color: white;
        display: inline-block;
        position: relative;
        z-index: 9;
      }

      .circuloG2 {
        border: 1px solid gainsboro;
        background-color: gainsboro;
        border-radius: 100%;
        width: 50px;
        height: 50px;
        text-align: center;
        /* margin: 0 auto; */
        display: inline-block;
        margin-left: -7px;
      }
    </style>
    <!-- <h2>Hello [[prop1]]!</h2> -->
    <section>
      <article class="circuloGg">
        <h1>
          <slot></slot>
        </h1>
        <my-header>
          <header>
            <h1>DD</h1>
          </header>
        </my-header>
      </article>
      <article class="circuloV">
        <h1>
          <slot></slot>
        </h1>
        <my-header>
          <header>
            <h1>SD</h1>
          </header>
        </my-header>
      </article>
      <article class="circuloG">
        <h1>
          <slot></slot>
        </h1>
        <my-header>
          <header>
            <h1>JD</h1>
          </header>
        </my-header>
      </article>
      <article class="circuloN">
        <h1>
          <slot></slot>
        </h1>
        <my-header>
          <header>
            <h1>LR</h1>
          </header>
        </my-header>
      </article>
      <article class="circuloG2">
        <h1>
          <slot></slot>
        </h1>
        <my-header>
          <header>
            <h1>WIM</h1>
          </header>
        </my-header>
      </article>
    </section>

  </template>

  <script>
    /**
     * `initials-element`
     * Componente para initials
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class InitialsElement extends Polymer.Element {
      static get is() {
        return 'initials-element';
      }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'initials-element'
          }
        };
      }
    }

    window.customElements.define(InitialsElement.is, InitialsElement);
  </script>
</dom-module>